@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes charging {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

@layer utilities {
  .animate-charging {
    animation: charging 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}
